// user.scss
// Use this to write your custom SCSS

$listening: #008080;
$reading: #808000;
$writing: #a0522d;
$speaking: #4169e1;
$fulltest: #0052cc;

.bg-listening {
  background-color: $listening;
}

.bg-reading {
  background-color: $reading;
}

.bg-writing {
  background-color: $writing;
}

.bg-speaking {
  background-color: $speaking;
}

.bg-fulltest {
  background-color: $fulltest;
}

.text-listening {
  color: $listening;
}

.text-reading {
  color: $reading;
}

.text-writing {
  color: $writing;
}

.text-speaking {
  color: $speaking;
}

.text-fulltest {
  color: $fulltest;
}

.progress-bar {
  height: 100% !important;
}

// Button Variant Styles
.btn-listening {
  background-color: $listening;
  color: white; // Adjust text color as needed

  &:hover {
    background-color: darken($listening, 10%);
  }
}

.btn-reading {
  background-color: $reading;
  color: white;

  &:hover {
    background-color: darken($reading, 10%);
  }
}

.btn-writing {
  background-color: $writing;
  color: white;

  &:hover {
    background-color: darken($writing, 10%);
  }
}

.btn-speaking {
  background-color: $speaking;
  color: white;

  &:hover {
    background-color: darken($speaking, 10%);
  }
}

.btn-fulltest {
  background-color: $fulltest;
  color: white;

  &:hover {
    background-color: darken($fulltest, 10%);
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
select {
  font-size: 16px;
}

// Audio Player CSS

/* CustomAudioPlayer.css */

/* Play/Pause button */
.rhap_play-pause-button {
  color: #0052cc; /* Green, change as needed */
}

/* Progress Bar */
.rhap_progress-bar {
  background: #e0e0e0; /* Light grey, change as needed */
  width: 100%;
}

/* Progress Bar (filled part) */
.rhap_progress-filled {
  background: #0052cc; /* Sky blue, change as needed */
}

/* Progress Bar handle */
.rhap_progress-indicator {
  background: #0052cc; /* Amber, change as needed */
}

/* Time (current time and total time) */
.rhap_time {
  color: #000; /* Dark grey, change as needed */
}

/* Volume control */
.rhap_volume-indicator,
.rhap_volume-bar {
  background: #9c27b0; /* Purple, change as needed */
}

.rhap_container {
  border: none !important;
  box-shadow: none !important; /* Also removing any shadow if present */
}

.rhap_time {
  display: none;
}

.rhap_volume-controls,
.rhap_additional-controls {
  display: none;
}

.rhap_progress-section {
  flex: 10 1 auto;
}

.rhap_controls-section {
  flex: 0 0 auto;
}
