// user.scss
// Use this to write your custom SCSS

$listening: #008080;
$reading: #808000;
$writing: #a0522d;
$speaking: #4169e1;
$fulltest: #0052cc;

.bg-listening {
  background-color: $listening;
}

.bg-reading {
  background-color: $reading;
}

.bg-writing {
  background-color: $writing;
}

.bg-speaking {
  background-color: $speaking;
}

.bg-fulltest {
  background-color: $fulltest;
}

.text-listening {
  color: $listening;
}

.text-reading {
  color: $reading;
}

.text-writing {
  color: $writing;
}

.text-speaking {
  color: $speaking;
}

.text-fulltest {
  color: $fulltest;
}

.progress-bar {
  height: 100% !important;
}

// Button Variant Styles
.btn-listening {
  background-color: $listening;
  color: white; // Adjust text color as needed

  &:hover {
    background-color: darken($listening, 10%);
  }
}

.btn-reading {
  background-color: $reading;
  color: white;

  &:hover {
    background-color: darken($reading, 10%);
  }
}

.btn-writing {
  background-color: $writing;
  color: white;

  &:hover {
    background-color: darken($writing, 10%);
  }
}

.btn-speaking {
  background-color: $speaking;
  color: white;

  &:hover {
    background-color: darken($speaking, 10%);
  }
}

.btn-fulltest {
  background-color: $fulltest;
  color: white;

  &:hover {
    background-color: darken($fulltest, 10%);
  }
}

.custom-form-control {
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Apply the custom-form-control class to all input types and textarea */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 16px; /* Additional styling if needed */
}

/* For <select> elements, additional styles might be required for cross-browser consistency */
select.custom-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* You might want to add a background arrow indicator for <select> elements */
}

/* Optionally, you can add a class for disabled form controls */
.custom-form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.custom-form-select {
  min-width: 50px;
  padding: 0rem 0.75rem;

  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none; /* Removes default styling for select elements in WebKit browsers */
  -moz-appearance: none; /* Removes default styling for select elements in Firefox */
  appearance: none; /* Standard syntax to remove default styling */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  /* Custom arrow indicator (optional) */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23495357" d="M2 0L0 2h4z"/><path fill="%23495357" d="M2 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
}

.custom-form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* For disabled state */
.custom-form-select:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

// Audio Player CSS

/* CustomAudioPlayer.css */

/* Play/Pause button */
.rhap_play-pause-button {
  color: #0052cc; /* Green, change as needed */
}

/* Progress Bar */
.rhap_progress-bar {
  background: #e0e0e0; /* Light grey, change as needed */
  width: 100%;
}

/* Progress Bar (filled part) */
.rhap_progress-filled {
  background: #0052cc; /* Sky blue, change as needed */
}

/* Progress Bar handle */
.rhap_progress-indicator {
  background: #0052cc; /* Amber, change as needed */
}

/* Time (current time and total time) */
.rhap_time {
  color: #000; /* Dark grey, change as needed */
}

/* Volume control */
.rhap_volume-indicator,
.rhap_volume-bar {
  background: #9c27b0; /* Purple, change as needed */
}

.rhap_container {
  border: none !important;
  box-shadow: none !important; /* Also removing any shadow if present */
}

.rhap_time {
  display: none;
}

.rhap_volume-controls,
.rhap_additional-controls {
  display: none;
}

.rhap_progress-section {
  flex: 10 1 auto;
}

.rhap_controls-section {
  flex: 0 0 auto;
}
