//
// user.scss
// Use this to write your custom SCSS
//

$listening: #008080;
$reading: #808000;
$writing: #a0522d;
$speaking: #4169e1;

.bg-listening {
  background-color: $listening;
}

.bg-reading {
  background-color: $reading;
}

.bg-writing {
  background-color: $writing;
}

.bg-speaking {
  background-color: $speaking;
}

.text-listening {
  color: $listening;
}

.text-reading {
  color: $reading;
}

.text-writing {
  color: $writing;
}

.text-speaking {
  color: $speaking;
}

.progress-bar {
  height: 100% !important;
}
