//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;
$primary: #0052cc;
$secondary: #5243ab;
$warning: #fec400;
$danger: #dc3405;
$info: #20b8da;
$success: #12875a;
$dark: #172b4d;
$light: #ebecf0;

