.writing-questions img {
  width: 100%;
  height: auto;
}

.writing-questions p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
  color: black;
}

.writing-questions textarea {
  width: 100%;
}

.highlighted-text {
  background-color: #b0e0e6; /* You can choose the highlight color */
}
