.writing-questions img {
  width: 100%;
  height: auto;
}

.writing-questions {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 1.1rem;
  color: black;
}

.writing-questions textarea {
  width: 100%;
  color: black;
}

.writing-questions textarea:focus {
  color: black;
}

.highlighted-text {
  background-color: #b0e0e6; /* You can choose the highlight color */
}
