.parser-block table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.parser-block table th,
.parser-block table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #212529 !important;
}

.parser-block table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #212529;
}

.parser-block table tbody + tbody {
  border-top: 2px solid #212529;
}

/* Add a border to the bottom of the last row in each tbody */
.parser-block table tbody tr:last-child td {
  border-bottom: 1px solid #212529;
}
