.reading-passage img {
  width: 100%;
  height: auto;
}

.reading-passage p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
}
/* 
.reading-passage blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 3px solid #ccc;
  font-style: italic;
} */

.highlighted-text {
  background-color: #b0e0e6; /* You can choose the highlight color */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
