.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh; /* or the minimum height of your content */
}

.main {
  flex-grow: 1;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 999; /* Use a z-index value to ensure it's on top of other content */
}
