.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh; /* or the minimum height of your content */
}

.main {
  flex-grow: 1;
}

.fixed-footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
