.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh; /* or the minimum height of your content */
}

.main {
  flex-grow: 1;
}

.fixed-footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}
